/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
:root{
  --background-color: #f0f0f5;
  --container-background-color: #e6e6f2;
  --border-color: #d1c4e9;
  --dark-background-color: #6a0dad;
  --dark-hover-color: #4b0082;
  --dark-text-color: #3c003c;
}


/* General Page Styling */
body {
  font-family: 'Georgia', serif;
  background-color: var(--background-color);
  color: var(--dark-text-color);
  margin: 0;
  padding: 0;
}

#container {
  width: min(80%, 1000px);
  margin: 0 auto;
  padding: 20px;
  background-color: var(--container-background-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#poem-view {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: 10px;
}

#poem-lines p {
  margin: 0 0 20px;
  line-height: 1.6;
  font-size: 1.2em;
  color: var(--dark-text-color);
}





/* Scroll Buttons */


#title-scroll {
  display: flex;
  width: 100%;
}

#poem-title {
  width: 80%;
  text-align: center;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-size: 1.1em;
  background-color: var(--dark-background-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--dark-hover-color);
  cursor: pointer;
}

.scroll-btn {
  align-self: center;
}


.line-break {
  height: 1vh;
}
.poem-line {
  height: 10%;
}


/* Footer Styles */
footer {
  background-color: var(--dark-background-color);
  padding: 20px;
  text-align: center;
  color: #fff;
}

footer p {
  margin: 10px 0;
}

footer a {
  color: #e0b3ff; /* Soft lavender for links */
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ebceff; /* Slightly lighter purple on hover */
}



.hidden {
  visibility: hidden;
}